.dropdownbody {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    margin-top: 20px;
}
.selectcontain{
    display: flex;
    justify-content: center;
    gap: 20px;
}
select:disabled {
    background-color: #f0f0f0;
    color: #888;
    cursor: not-allowed;
  }
select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
}
.dropdown1{
    width: 300px;
}
.dropdown2{
    width: 200px;
}
.dropdown3{
    width: 200px;
}
p{
    font-size: 18px; 
    margin-top: 20px;
    font-weight: bold;
}
  
.city{
    font-size: 25px;      
}
  
  
.state, .country {
    color: rgb(128, 122, 122);    
    font-size: 25px;     
}